body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #eaf6fc;
}

.container {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.calculator, .results {
  padding: 30px;
  flex: 1;
}

.calculator {
  background: #fff;
}

.results {
  background: #0e1e2d;
  color: white;
  border-bottom-left-radius: 60px;
}

h2 {
  margin: 0 0 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.clear-link {
  font-size: 14px;
  color: #005dd7;
  cursor: pointer;
  opacity: 0.5;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.input-group input {
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.input-group .prefix,
.input-group .suffix {
  background: #f3f6f9;
  padding: 10px;
  font-size: 16px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.two-columns {
  display: flex;
  gap: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  background: #fefde5;
  margin-bottom: 20px;
}

.radio-group label {
  margin-bottom: 10px;
  font-weight: normal;
}

.calculate-btn {
  width: 100%;
  background: #d6de23;
  color: black;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  
}
.calculate-btn img{
  size: 100%;
}

.result-box {
  background: #12293d;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border-top: 3px solid #d8de23;
}

.result-box h1 {
  color: #d6de23;
  font-size: 30px;
  margin: 10px 0;
}

.result-box h2 {
  margin: 10px 0;
  color: white;
}

.result-box hr {
  margin: 20px 0;
  border: 0.5px solid #2c3e50;
}
